* 					{ margin: 0px; padding: 0px; }
body 				{ font: 16px Georgia, serif; }
#page-wrap 			{ margin: 2% auto; color: white; }
#page-wrap > .main 	{ border: 1px solid #999; padding: 1%; margin-bottom: 1px; color: black; }
section > div 		{ padding: 20px; }

header, 
nav, 
section, 
footer 				{ background: #eee; text-align: center; }

nav span 			{ margin: 0px 10px 0px 0px; }

/* Authors */
.author-list 		{ padding: 10px 50px; text-align: left; list-style: none; }
.author-list li img { border: 1px solid silver; box-shadow: 3px 3px 3px #333; margin-right: 5px; }

/* Question list */
table.wide_all 		{ margin: 15px auto; }

/* Errors */
#ErrorMsgs			{ color: #f61; font-size: smaller; }